* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-primy: "Montserrat", Sans-serif;
    --font-alternative: 'Montserrat Alternates', sans-serif;

    --line-height01: 3rem; 

    --cor-branca: white;
    --cor-preta: black;

    --color01: #51CEFF;
    --color02: #142842;
    --color03: #9FE6A5;
    --color04: #00668d;
    --color05: #ff4444;
    --color06: #0494cc;

    --background-linear: linear-gradient(187deg, var(--color04) 0%, var(--color02) 100%);

    --shadow01: 0 0 3rem 0 rgba(0, 0, 0, 0.616);
    --shadow02: 1px 1px 2rem rgba(0, 0, 0, 0.603);
    --shadow03: 1px 1px 2rem white;
}

body {
    position: relative;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 0px;
    margin-bottom: -2.3rem;
    width: 100%;
    box-shadow: var(--shadow01);
}

.elementor-background-slideshow {
    position: relative;
    padding: 2rem;
}

.header-background {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(320deg, #0b1727f1 77%, #00546bef 100%);
}

.d-logo {
    padding-top: 2rem;
}

.logo {
    margin-bottom: 2rem;
    width: 12.5rem;
    height: 4rem;
    display: block;
    margin: auto;
}

.title-one, .title-two {
    margin: 2rem auto;
}

.first-title {
    text-align: center;
    font-family: var(--font-primy);
    color: var(--cor-branca);
    font-size: 2.3rem;
    font-weight: 400;
    text-shadow: -52px 0px 30px rgba(165.17624740600587, 164.09901100987975, 164.09901100987975, 0.51);
    line-height: var(--line-height01);
}

.title-two h2:first-child {
    color: var(--color01);
    font-family: var(--font-primy);
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.title-two h2:last-child {
    color: white;
    font-family: var(--font-primy);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.line {
    border-bottom: solid #51CEFF;
    width: 80%;
    margin: 2rem auto;
    border-radius: 50%;
}

header a {
    display: block;
    width: 100%;
    color: var(--color02);
    text-decoration: none;
    padding: 1rem 1.3rem;
    background: var(--color03);
    border-radius: 10px;
    font-family: var(--font-primy);
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: var(--shadow01);
    margin: auto;
    text-align: center;
    max-width: 76.8rem;
}

header a:hover {
    background: #2b7431;
    color: var(--color03);
}

.header-text {
    width: 100%;
    overflow: hidden;
}

.text-container{
    width: 100%;
    max-width: 76.8rem;
    position: relative;
    padding-bottom: -10rem;
    margin: auto;
}

.text-container img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.sec-one {
    padding: 3rem 1rem;
    width: 100%;
}

.youtube-one {
    margin: auto ;
    width: 100%;
    margin: 2rem auto 4rem;
}

.youtube-one iframe {
    border-radius: 1.9rem;
    width: 100%;
    box-shadow: var(--shadow01);
}

.sec-text {
    text-align: center;
}

.sec-text h2 {
    font-size: 2.1rem;
    color: var(--color02);
    font-family: var(--font-primy);
    margin-top: 2rem;
}

.sec-one-galeria {
    width: 100%;
    margin: auto;
}

.sec-one-galeria img{
    width: 100%;
}

.imgj1, .imgj2, .imgj3, .imgj4 {
    display: none;
}

.sec-two {
    background: var(--background-linear);
    border-radius: 2rem ;
    padding: 2rem;
    width: 100%;
    box-shadow: var(--shadow01);
}


.sec-two-title {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.sec-two-title img {
    stroke: white;
    width: 4rem;
}

.sec-two-title h3 {
    padding-top: 1rem;
    color: white ;
    font-family: var(--font-primy);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.3rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.sec-two-yt {
    margin: 2rem auto;
    width: 100%;
}

.sec-two-yt iframe {
    border-radius: 1.9rem;
    width: 100%;
    display: block;
}

.sec-two-none {
    display: none;
}


.sec-two-text p{
    color: var(--cor-branca);
    font-family: var(--font-primy);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.sec-two-button {
    width: 100%;
    margin: 3rem auto 2.5rem;
    text-align: center;
}

.sec-two-button a {
    margin: auto;
    min-width: 300px;
    width: 80%;
    color: var(--color02);
    text-decoration: none;
    padding: 1rem 1rem;
    background: var(--color03);
    border-radius: 10px;
    font-family: var(--font-primy);
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: var(--shadow01);
    display: block;
}

.sec-two-button a:hover {
    background: #2b7431;
    color: var(--color03);
}

.sec-t {
    padding: 2.5rem;
    font-family: var(--font-primy);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 108rem;
    margin: auto;
}

.sec-four {
    width: 100%;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--background-linear);
    color: var(--cor-branca);
    font-family: var(--font-primy);
    border-radius: 1.9rem;
    box-shadow: var(--shadow01);
}

.sec-four img {
    width: 8rem;
    height: 8rem;
    padding: 7px;
    background: var(--background-linear);
    border-radius: 50%;
    margin: auto;
    box-shadow: var(--shadow01);
}
.sec-four img:first-child {
    margin-top: 2rem;
}

.sec-four h2{
    font-size: 2rem;
    font-weight: 500;
    text-shadow: var(--shadow02);
}

.sec-four p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sec-five {
    text-align: center;
    color: var(--color02);
    font-family: var(--font-primy);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sec-five h1 {
    font-size: 2.1rem;
    text-shadow: var(--shadow02);
}

.sec-five div {
    margin-bottom: 0.5rem;
}

.sec-six {
    text-align: center;
    color: var(--color02);
    font-family: var(--font-primy);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sec-six h1 {
    font-size: 2rem;
    text-shadow: var(--shadow02);
    max-width: 112rem;
    margin: auto;
}

.logos img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: var(--shadow01);
    margin: 1.2rem auto;
}

.sec-seven {
    width: 100%;
    padding: 2rem;
}

.sec-seven-top {
    width: 100%;
}

.sec-seven-topo img {
    display: block;
    width: 100%;
    max-width: 80rem;
    margin: auto;

}

.sec-seven h2 {
    margin-top: 2.5rem;
}

.sec-seven .produto {
    padding: 1rem;
    color: var(--cor-branca);
    background: var(--background-linear);
    margin: 2rem auto;
    border-radius: 2rem;
    font-family: var(--font-primy);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: var(--shadow01);

}

.prata {
    background: var(--color04) !important;
}

.sec-seven .produto h2 {
    font-size: 2.4rem;
    text-align: center;
}

.sec-seven .produto p {
    font-size: 1.4rem;
    text-align: center;
}

.line-pre {
    border-bottom: 4px solid #03151a;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.button-preco {
    text-align: center;
    width: 100%;
    color: var(--color02);
    text-decoration: none;
    padding: 1rem 1.3rem;
    background: var(--color03);
    border-radius: 10px;
    font-family: var(--font-primy);
    font-weight: 600;
    font-size: 1.5rem;
    box-shadow: var(--shadow02);
}

.button-preco:hover {
    background: #2b7431;
    color: var(--color03);
}

.produto ul li {
    display: flex;
    align-items: center;
    font-size: 1.38rem;
    font-family: var(--font-alternative);
    margin: 1rem;
    font-weight: 500;
}

.icons-do {
    width: 2rem;
    align-items: center;
    margin-right: 2rem;
}

.preco-ant {
    text-decoration: line-through;
    color: var(--color05);
    font-size: 2.9rem;
    text-align: center; 
}

.preco {
    margin: -1.5rem auto 4rem !important;
    font-size: 2.9rem;
    text-align: center; 
}

.preco-ant1 {
    display: none;
    text-decoration: line-through;
    color: var(--color05);
    font-size: 2.9rem;
    text-align: center;
}

.preco1 {
    display: none;
    margin: -1.5rem auto 2rem !important;
    font-size: 2.9rem;
    text-align: center;
}

.sec-heit {
    width: 100%;
}

.exemplos {
    width: 100%;
    padding: 1rem;
}

.exemplos img {
    width: 100%;
}

.exemplos img:last-child {
    display: none;
}

.sec-nine {
    width: 100%;
    padding: 2rem;
}

.papelaria {
    width: 100%;
    margin: 2rem auto;
}

.papelaria img {
    border-radius: 2rem;
    width: 100%;
    box-shadow: var(--shadow01);
}

.sec-ten {
    color: var(--color02);
    font-family: var(--font-primy);
    font-weight: 700;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 3rem;
    font-size: 1.7rem;
    text-shadow: var(--shadow02);
}

.sec-ten span {
    font-size: 6.9rem;
}

.sec-eleven {
    width: 100%;
}

.eleven {
    background: var(--background-linear);
    
}

.sec-eleven h1 {
    text-align: center;
    color: var(--cor-branca);
    font-size: 2.3rem;
    font-family: var(--font-primy);
    font-weight: 400;
    text-shadow: var(--shadow01);
    padding: 3rem 2rem 4rem;
    text-shadow: var(--shadow02);
}

.sec-eleven img {
    display: block;
    width: 6rem;
    margin: auto;
    margin-top: -3rem;
}

.sec-twoelve {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cliente {
    background: var(--background-linear);
    border-radius: 1rem;
    padding: 3rem 2rem;
    color: var(--cor-branca);
    font-family: var(--font-primy);
    text-align: center;
    box-shadow: var(--shadow01);
    max-width: 53rem;
}

.cliente p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.cliente h3 {
    font-size: 1.7rem;
    font-weight: 500;
}

.cliente h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

.cliente img {
    width: 5rem;
}

.treszero h2 {
    margin: 2rem auto;
    font-weight: 500;
}

.treszero span {
    font-size: 1.5rem;
}

.sec-treteen {
    background: var(--background-linear);
    border-radius: 1rem;
    padding: 3rem 2rem;
    color: var(--cor-branca);
    font-family: var(--font-primy);
    text-align: center;
    box-shadow: var(--shadow02);
    width: 100%;
}
.sec-treteen h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem ;
    font-weight: 500;
}

.sec-treteen .line {
    margin: 4rem auto;
    width: 100%;
}

.sec-treteen a {
    width: 100%;
    color: var(--color02);
    text-decoration: none;
    padding: 1rem 1.3rem;
    background: var(--color03);
    border-radius: 10px;
    font-family: var(--font-primy);
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: var(--shadow01);
}

.sec-treteen a:hover {
    background: #2b7431;
    color: var(--color03);
}

.time {
    font-size: 1.5rem;
    font-family: var(--font-primy);
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.time img {
    width: 100%;
}

.time h2 {
    color: var(--color01);
    text-shadow: var(--shadow02);
}

.time p {
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 1.5rem ;
}

.redes-sociais {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.redes-sociais img{
    width: 5rem;
    text-align: center;
}

.duvidas {
    background: var(--background-linear);
    padding: 2rem;
    font-family: var(--font-primy);
    color: var(--cor-branca);
    border-radius: 1rem 1rem 0 0;
    box-shadow: var(--shadow01);
    width: 100%;
}

.duvidas h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
}


.form {
    color: white;
    font-size: 1.7rem;
    font-family: var(--font-primy);
    line-height: 2.7rem;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.form label {
    display: block;
    text-decoration: underline;
    margin: 1rem 1rem 1rem 0;
}

.form p {
    font-size: 1.5rem;
    margin: 1.4rem 1rem;
    font-weight: 400;

}

.form .toggle-checkbox {
    display: none;
}

.form .toggle-label {
    cursor: pointer;
}

.form .description {
    display: none;
}

.form .toggle-checkbox:checked~.description {
    display: block;
}

.logo-vize {

    width: 100%;
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .logo {
        margin: 7rem auto 5rem;
        width: 20rem;
        height: 6.8rem;
    }

    .first-title {
        font-size: 5rem;
        line-height: 5rem;
        max-width: 112rem;
        margin: 4rem auto;
        text-shadow: var(--shadow03);

    }

    .title-two h2:first-child {
        font-size: 7.1rem;
        margin: 0 0 3rem 0;
    }

    .title-two h2:last-child {
        font-size: 4rem;
        margin: 0 0 3rem 0;
        text-shadow: var(--shadow03);
    }

    header .line {
        border: none;
    }

    header a {
        font-size: 3.6rem;
        margin: 0 auto 5rem;
    }

    .text-container img {
        margin-bottom: 2rem;
    }
    

    .youtube-one {
        display: none;
    }

    .sec-text h2 {
        margin: 5rem auto 6rem;
        font-size: 5.6rem;
    }

    .imgh1, .imgh2, .imgh3, .imgh4 {
        display: none;
    }

    .sec-one-fotinhas {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .imgj1,
    .imgj2,
    .imgj3,
    .imgj4 {
        display: block; 
        width: 50%;
    }

    .sec-two {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sec-two-flex {
        width: 100%;
    }

    .sec-two-yt  {
        display: none;
    }

    .sec-two-none {
        display: block;
        width: 100%;
    }

    .sec-two-none iframe{
        border-radius: 1.9rem;
        width: 100%;
    }
    
    .sec-two-flex img{
        width: 4rem;
    }

    .sec-two-flex .sec-two-title {
        text-align: left;
    }

    .sec-two-flex h3 {
        font-size: 4rem;
        margin-left: 5rem;
    }
    
    .sec-two-flex p {
        font-size: 2.7rem;
        text-align: left;
        line-height: 3rem;
        margin-left: 5rem;
    }

    .sec-two-flex a {
        font-size: 1.5rem;
    }    
    
    .sec-t {
        font-size: 3.3rem;
        line-height: 4.4rem;
        font-weight: 400;
    }

    .sec-t p {
        margin: 4rem 0;
    }

    .sec-four {
        display: flex;
        flex-direction: row;
    }

    .onelast, .twolast {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    }

    .sec-four img {
    margin-top: 2rem;
    }

    .sec-four h2 {
        padding: 2rem 0;
        font-size: 3.7rem;
    }

    .sec-four p {
        line-height: 2.9rem;
        font-size: 2.2rem;
    }

    .info-flex {
        display: flex;
        flex-direction: row;
    }

    .sec-five h1 {
        font-size: 5.5rem;
        margin: 5rem auto;
    }

    .info {
        width: 100%;
        max-width: 65rem;
        margin: auto;
    }

    .sec-six h1{
        font-size: 5.5rem;
    }

    .logos-flex {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
    }

    .logos {
        width: 90%;
        max-width: 67.5rem;
        margin: auto;
    }

    .sec-seven-topo {
        margin-bottom: 10rem ;
    }

    .produto-valor {
        display: flex;
    }

    .produto {
        width: 40rem;
        height: 80rem;
    }

    .preco1, .preco-ant1 {
        display: block;
    }

    .preco, .preco-ant {
        display: none;
    }

    .cobre .button-preco {
        margin-top: 5rem;
    }

    .exemplos img:first-child {
        display: none;
    }

    .exemplos img:last-child {
        display: block;
        max-width: 102.3rem;
        margin: auto;
    }

    .sec-nine {
        max-width: 120rem;
        margin: auto;
    }
    
    .papelaria-flex {
        display: flex;
        gap: 2rem;
    }

    .sec-eleven h1 {
        font-size: 5rem;
    }

    .fala-cliente {
        display: flex;
        margin: auto;
        gap: 2rem;
    }

    .treszero {
        width: 50rem;
        margin-bottom: 6rem;
    }

    .sec-treteen h2 {
        margin-top: 4rem;
        font-size: 4rem;
    }

    .sec-treteen a {
        display: block;
        margin: auto;
        font-size: 2rem;
        margin-bottom: 4rem;
        width: 48rem;
    }

    .time {
        padding: 4rem;
        display: flex;
        gap: 3rem;
        align-items: center;
        margin: auto;
    }

    .time-text, .time-img {
        width: 57rem;
        margin: auto;
    }

    .duvidas-center {
        width: 114rem;
        margin: auto;
    }

    .logo-vize {
        display: block;
        margin: auto;
        max-width: 20rem;
    }
}